@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&display=swap');
header {
  font-family: 'Inter', sans-serif;
  background-color: #038C8C;
  box-shadow: 0px 1px 1px #03A696;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  padding: 1.5rem 6rem;
}

.nav-link {
  color: #ffffff; 
  text-decoration: none; 
  padding: 8px 16px; 
  border-radius: 10px; 
  transition: background-color 0.2s, box-shadow 0.2s, transform 0.2s;
}
.logo {
  font-family: 'Playfair Display', serif;
  color: aliceblue;
  font-size:larger;
}

.nav-list ul {
  display: flex; 
  list-style: none; 
  margin: 0; 
  padding: 0; 
  gap: 20px; 
}
.login-button button a {
  color: white;
  text-decoration: none;
}
.nav-item {
  margin: 0 15px;
}
.login-button button {
  background-color: #F28705; 
  color: white; 
  border: 1px solid #000000; 
  border-radius: 10px; 
  padding: 10px 20px; 
  cursor: pointer; 
  margin: 0 15px;
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s; 
}
.login-button button:hover{
  background-color: #025159; 
  transform: scale(1.05); 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}
.login-button button:active {
  background-color: #013b42; 
  transform: scale(0.95); 
}

.nav-link:hover {
  color: #025159;
}
.nav-link:active{
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.3); 
  transform: scale(0.95); 
}
