<head>
  <title>Doars</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  <link rel="stylesheet" href="assets/css/main.css" />
  <noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
</head>
<section id="sidebar">
  <div class="inner">
    <nav>
      <ul>
        <li><a href="index.html">Menu</a></li>
        <li><a href="index.html">Cadastros</a> </li>
        <li><a href="index.html">Cadastroinst</a> </li>
      </ul>
    </nav>
  </div>
</section>
<section id="Home page" class="wrapper style1 fullscreen fade-up">
  <div class="inner">
       <h1>Doars</h1>
    <p>Nosso projeto apoia instituições de caridade do Rio Grande do Sul, facilitando doações e promovendo ações solidárias para quem mais precisa.</p>
    <ul class = "actions">
      <li><a  href="index.html">Saiba mais</a> </li>
    </ul>
  </div>
</section>
