@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&display=swap');

/* Estilos gerais do header */
header {
  font-family: 'Inter', sans-serif;
  background-color: #038C8C;
  box-shadow: 0px 1px 1px #03A696;
}
body{
  background-color: #03A696;
}
/* Barra de navegação */
.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 6rem;
}

/* Links de navegação */
.nav-link {
  color: #ffffff;
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 10px;
  transition: background-color 0.2s, box-shadow 0.2s, transform 0.2s;
}

.nav-link:hover {
  color: #025159;
}

.nav-link:active {
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.3);
  transform: scale(0.95);
}

/* Logo */
.logo {
  font-family: 'Playfair Display', serif;
  color: aliceblue;
  font-size: larger;
}

/* Lista de navegação */
.nav-list ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 20px;
}

.nav-item {
  margin: 0 15px;
}

/* Botão de login */
.login-button button {
  background-color: #F28705;
  color: white;
  border: 1px solid #000000;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
  margin: 0 15px;
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}

.login-button button:hover {
  background-color: #025159;
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.login-button button:active {
  background-color: #013b42;
  transform: scale(0.95);
}

.login-button button a {
  color: white;
  text-decoration: none;
}
/* Resetando margens e preenchimentos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container-slider {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: -80px;
}

.container-images {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1200px;
  height: 675px; /* Defina uma altura para as imagens */
  overflow: hidden; /* Garante que as imagens não saiam da área do slider */
  border: 2px solid #000;
  border-radius: 10px;
  
  padding: 50px;
}

.slider {
  opacity: 0;
  transition: opacity 0.5s ease-in-out; /* Mais suave para transições */
  position: absolute;
  width: 100%;
  height: 100%; /* Garante que as imagens ocupem toda a área */
  object-fit: cover; /* Garante que a imagem cubra a área do container */
  border-radius: 10px;
}

.on {
  opacity: 1;
}

#prev-button, #next-button {
  width: 50px; /* Tamanho do botão aumentado para um visual mais chamativo */
  height: 50px; /* Tamanho do botão aumentado */
  border-radius: 50%; /* Botões circulares */
  background-color: rgba(0, 0, 0, 0.5); /* Cor de fundo semitransparente */
  border: 2px solid #fff; /* Borda branca para destacar */
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.3s ease; /* Transição suave para os efeitos de hover */
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para um efeito de profundidade */
}

#prev-button:hover, #next-button:hover {
  background-color: rgba(0, 0, 0, 0.8); /* Cor de fundo mais escura ao passar o mouse */
  border-color: #F28705; /* Borda amarela para destaque ao passar o mouse */
  transform: translateY(-50%) scale(1.1); /* Aumenta o botão ao passar o mouse */
}

#prev-button img, #next-button img {
  width: 20px; /* Ajuste do tamanho da imagem dentro do botão */
  height: 20px;
  filter: brightness(0) invert(1); /* Deixa a imagem branca para contraste */
}

#prev-button {
  left: 20px; /* Distância à esquerda para o botão anterior */
}

#next-button {
  right: 20px; /* Distância à direita para o botão próximo */
}

