<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="box">
    <div class="input-box">
        <label for="cpf">Email</label>
   
        <input id="cpf" type="text" name="cpf" placeholder="Digite seu email" required>
    </div>
    <div class="input-box">
        <label for="Senha">Senha</label>
        <input id="cpf" type="text" name="cpf" placeholder="Digite sua senha" required>
    </div>
    <div class="login-button">
        <button><a href="#">Login</a></button>
    </div>
</div>
</body>
</html>
